* {
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(to bottom right, #353A4A, #494e5c);
}

.navigation {
    position: fixed;
    top: 11%;
    width: 100%;
    background-color: transparent;
    height: 90px;
    text-align: center;
    line-height: 4px;
}

.navigation nav {
    color: white;
    font-size: 7vw;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    padding: 4px;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    margin: 15% 8.5% 0% 8.8%;
}

.home {
    display: inline-flex;
    height: 100vh;
}

/* .home {
    align-items: center;
    display: flex;
    min-width: 100%;
    height: 100vh;
    justify-content: flex-end;
} */

.heroImg {
    max-width: 35rem;
}

.hello {
    text-align: left;
    text-justify: center;
    flex-direction: row;
    max-width: max-content;
}

/* .hello {
    text-justify: center;
    text-align: left;
    flex-direction: row;
    max-width: 35%;
    margin-left: 13%;
} */

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4vw;
    color: white;
    width: max-content;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    color: white;
}

/*---SKILLS SECTION---*/

.skills {
    height: 35vh;
}

#mySkills {
    font-size: 3vw;
    margin: 0px 0px 0px 8.8%;
    color: #33FF99;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    margin: 0px 8.8% 0px 8.8%;
}

.divSkills {
    width: 40%;
    margin: 20px 50px 0px 0px;
    text-align: left;
}

.skillTitle {
    padding-bottom: 10px;
}

.skillComment {
    font-size: 1vw;
}

/*---WORKS SECTION---*/

#myWorks {
    font-size: 3vw;
    margin: 0px 0px 0px 8.8%;
    color: #33FF99;
}

.worksContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.casestudies {
    position: relative;
    height: 150vh;
}

.casestudies p {
    font-size: 1vw;
}

.lftpic {
    display: inline-block;
    width: 50%;
    border-radius: 50%;
    border: 1px solid white;
}

.rightcase {
    margin: auto 0;
    padding-left: 15px;
}

.rgtpic {
    display: inline-block;
    width: 50%;
    border-radius: 50%;
    border: 1px solid white;
}

.leftcase {
    margin: auto 0;
    padding-right: 15px;
}

.divStudyrgt {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 40%;
    padding: 25px 0px 30px 0px;
}

.divStudylft {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    width: 40%;
    padding: 30px 0px 30px 0px;
}

button {
    background-color: #33FF99;
    border: none;
    color: #4D515F;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 8px;
    margin-top: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

/*---FOOTER SECTION---*/

footer {
    bottom: 0;
    height: 30vh;
    background-color: white;
}